<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% embed 'CoreBundle:_layout:css_header.html.twig' %}{% endembed %}

    {% block extra_css %}{% endblock %}
    {% embed 'CoreBundle:_layout:js_header.html.twig' %}{% endembed %}
</head>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="{{ url('core_index_index') }}">
                        {{ 'core.menu.homepage'|trans }}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% set cart = getCart(app.request, app.user) %}
                <li>
                    <a href="{{ url('cart.my_cart') }}">{{ 'cart.labels.my_cart'|trans }}
                        <span id="cart-value">{{ cart.value }}</span>
                        (<span id="cart-item-count">{{ cart.itemCount }}</span>)
                    </a>
                </li>
                {% if app.user %}
                    <li>
                        <a href="{{ url('notification.list') }}">{{ 'notification.menu.notifications'|trans }} ({{ app.user.notificationCount }})</a>
                    </li>
                    <li>
                        <a href="{{ url('item.user_items') }}">{{ 'item.menu.my_items'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ url('item.create') }}">{{ 'item.menu.create'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ url('fos_user_change_password') }}">{{ 'core.menu.change_password'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ url('fos_user_security_logout') }}">{{ 'core.menu.logout'|trans }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('fos_user_security_login') }}">
                            {{ 'core.menu.login'|trans }}
                        </a>
                    </li>
                    <li><a href="{{ url('fos_user_registration_register') }}">{{ 'core.menu.register'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div id="page-wrapper">
        {% include 'CoreBundle::notices.html.twig' %}
        {% block submenu %}{% endblock %}
        <div class="col-sm-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% embed 'CoreBundle:_layout:js_footer.html.twig' %}{% endembed %}
{% block extra_js %}{% endblock %}
</body>
</html>
