{% extends '@Core/layout.html.twig' %}
{% block content %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <a href="{{ sortable('search.price', 'item.price') }}">
                    {{ app.request.query.get('direction') == 'ASC' ? 'item.labels.price_highest_first'|trans : 'item.labels.price_lowest_first'|trans}}
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ sortable('search.createdAt', 'item.createdAt') }}">
                    {{ app.request.query.get('direction') == 'ASC' ? 'item.labels.newest_first'|trans : 'item.labels.oldest_first'|trans}}
                </a>
            </div>
            {{ form_start(form) }}
            <div class="col-sm-2">
                {{ form_widget(form.category) }}
            </div>
            <div class="col-sm-">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}

        </div>
    </div>
    <div class="col-sm-12">
        {% for row in items|grid(4) %}
            <div class="row">
                {% for item in row %}
                    <div class="col-sm-4 col-md-3">
                        <div class="thumbnail">
                            {% if item.images[0] is defined %}
                                <img src="{{ config['image_upload_dir'] ~ item.images[0] }}"/>
                            {% endif %}
                            <div class="caption">
                                <h3>{{ item.name }}</h3>
                                <p>{{ item.createdAt|date('Y-m-d H:i') }}</p>
                                <p>{{ item.createdBy.username }}</p>
                                <p>{{ item.description|length > 50 ? item.description|slice(0, 50) ~ '...' : item.description  }}</p>
                                <p>{{ item.price }}</p>
                                <p>
                                    <a href="{{ url('item.show', { id: item.id }) }}" class="btn btn-default" role="button">{{ 'item.labels.more_info'|trans }}</a>
                                    <a data-href="{{ url('cart.add_to_cart') }}" data-id="{{ item.id }}" class="btn btn-primary add-to-cart {% if inArray(item, getCartItems(app.request, app.user)) %}disabled{% endif %}" role="button">{{ 'item.labels.add_to_cart'|trans }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
