{% extends '@Core/layout.html.twig' %}
{% block content %}
    <div class="col-sm-12">
        <h3>{{ item.name }}</h3>
        <p><b>{{ 'item.labels.added_at'|trans }}: </b> {{ item.createdAt|date('Y-m-d H:i') }}</p>
        <p><b>{{ 'item.labels.added_by'|trans }}: </b>{{ item.createdBy.username }}</p>
        <p><b>{{ 'item.labels.description'|trans }}: </b>{{ item.description }}</p>
        <p><b>{{ 'item.labels.price'|trans }}: </b>{{ item.price }}</p>
        {% for row in item.images|grid(4) %}
            <div class="row">
                {% for image in row %}
                    <div class="col-sm-4 col-md-3">
                        <div class="thumbnail">
                            <img src="{{ config['image_upload_dir'] ~ image }}"/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
