{% block css %}
    {% stylesheets filter='cssrewrite'
    '@CoreBundle/Resources/public/css/bootstrap.min.css'
    '@CoreBundle/Resources/public/css/bootstrap-theme.min.css'
    '@CoreBundle/Resources/public/css/custom.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}
