{% block js_header %}
    {% javascripts
        '@CoreBundle/Resources/public/js/jquery-3.1.1.min.js'
        '@CoreBundle/Resources/public/js/bootstrap.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
