{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group">
        <label class="col-sm-2 control-label required" for="username">
            {{ 'security.login.username'|trans }}
        </label>
        <div class="col-sm-10">
            <input id="username" name="_username" required="required" value="{{ last_username }}" class="form-control" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label required" for="password">
            {{ 'security.login.password'|trans }}
        </label>
        <div class="col-sm-10">
            <input id="password" name="_password" required="required" class="form-control" type="password">
        </div>
    </div>


    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
