{% extends '@Core/layout.html.twig' %}
{% block content %}
    <div class="col-sm-12">
        <ul class="list-group">
            {% for notification in notifications %}
                <li class="list-group-item">
                    {{ notification.createdAt|date('Y-m-d H:i') }}
                    {{ notification.notificationBy.username }}
                    {{ 'notification.message.requested_to_buy_an_item'|trans }}
                    {{ notification.item.name }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
